canvas.canvas_1{
	position: absolute;
	display: block;
  margin-left: 10px;
	margin-right: 0px;
	right: 14.8%;
	border: solid black;
}
html{
	overflow : hidden;
}
.textbox{
    width: 15%;
}
font{
	font-size: 1vw;
}
.light {
	font-family: 'Noto Sans Japanese';
    font-weight: 200;
}
.area{
	position: relative;
	width:100%;
	height: 100%;
  display: box;
  display: -webkit-box;
  display: -moz-box;

	box-pack:end;
	-webkit-box-pack:end;
	-moz-box-pack:end;

	box-align:start;
	-webkit-box-align:start;
	-moz-box-align:start;
}
.source{
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 0%;
	right:75%;
	width:23.5%;
	height:750px;
}
.pre{
	font-family: 'Noto Sans Japanese';
	margin: 1px;
}

#close{
	margin: 1px;
}
a{
	color:#67c5ff;
}

body{
background:repeating-linear-gradient(90deg,#0b0023 0%,#0b0023 28%,#cfab3f 28%,#cfab3f 28.5%,#f7f7f7 28.5%,#f7f7f7 100%);
}

.square_btn {
	width:98%;
	display: inline-block;
	padding: 0.2em 0.05em;
	text-decoration: none;
	color: #f7f7f7;
	background: #666;
	border: solid 1px #666;
	border-radius: 3px;
	transition: .4s;
}.square_btn:hover {
	background: #f7f7f7;
	color: #666;
}



/*
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
	background-color: #67c5ff;
}

.square_btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  color: #67c5ff;
}
.square_btn:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #67c5ff;
  height: 120%;
  left: -10%;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  z-index: -1;
}
.square_btn:hover {
  cursor: pointer;
	color: #f7f7f7;
}
.square_btn:hover:after {
  width: 100%;
  left: 0;
  left: -10%;
  width: 120%;
}*/

#color{
	width: 80%;
}

.farbtastic{
	margin: auto;
}

li{
	 list-style:none;
}

img{
	max-width: 65%;
	height: auto;
}

table.table_img {
	top: 0%;
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	line-height: 1.5;
}
table.table_img th {
	border:1px solid black;
	width: 50%;
	padding: 3%;
	font-weight: bold;
	vertical-align: top;
}
table.table_img td {
	border:1px solid black;
	width: 50%;
	padding: 3%;
	vertical-align: top;
	border-bottom: 1px solid black;
}

.wrapper{position: relative;top: 0%;right: -1%;width: 18%;}
div {*zoom: 1;}
div:after {display: block;content: "";clear: both;}
.tab {position: absolute;margin-bottom: 20%;right: 3%;top: 0%;width:85%;}
.tab > div {float: left;width:30%;height: auto;background:#666;color:#fff;text-align: center;padding:3% 0;cursor:pointer;}
.tab > div.select {background:#000;}
.tab_content {display:none;padding:1% 0;}
.tab_content.select {display:block;position: absolute;width: 82%;margin-top: 13%;left:13.3%;}
/*chrome,Operaだけに対応するcss*/
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  .tab_content.select {display:block;position: absolute;width: 78%;margin-top: 15%;left:13.3%;}
	.source::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(102,102,102,0.3);
		border-radius: 10px;
		background-color: #f5f5f5;
	}

	.source::-webkit-scrollbar
	{
		width: 12px;
		background-color: #f5f5f5;
	}

	.source::-webkit-scrollbar-thumb
	{
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #666;
	}

}
/*fire foxのみに対応するcss*/
@-moz-document url-prefix() {
	.tab_content.select {display:block;position: absolute;width: 82%;margin-top: 13%;left:12.5%;}
}/*safariのみに対応するcss*/
_::-webkit-full-page-media, _:future, :root .css_selector {
  .tab_content.select {display:block;position: absolute;width: 82%;margin-top: 15%;left:13.5%;}
}
/*
.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box {
	width: 40%;
	border-radius: 6px;
	box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
	width: 100%;
	color: #0b0023;
	padding: 8px;
}*/
