canvas.canvas_1{
	display: block;
  margin-left: 10px;
	margin-right: 0px;
}
.area{
  display: box;
  display: -webkit-box;
  display: -moz-box;

	box-pack:end;
	-webkit-box-pack:end;
	-moz-box-pack:end;

	margin-right: 20px;
  padding: 10px;

	box-align:start;
	-webkit-box-align:start;
	-moz-box-align:start;
}
.pre{
	margin-right: 100px;
}
body{
background:linear-gradient(90deg,#0b0023 0%,#0b0023 29%,#cfab3f 29%,#cfab3f 29.5%,#f7f7f7 29.5%,#f7f7f7 100%);
}
button.position{
  width:100%;
}

.farbtastic{
	margin: auto;
}

table.table_img {
	border-collapse: collapse;
	text-align: center;
	line-height: 1.5;
}
table.table_img th {
	border:1px solid black;
	width: 80px;
	padding: 7px;
	font-weight: bold;
	vertical-align: top;
}
table.table_img td {
	border:1px solid black;
	width: 80px;
	padding: 7px;
	vertical-align: top;
	border-bottom: 1px solid black;
}

div {*zoom: 1;}
div:after {display: block;content: "";clear: both;}
.tab {margin-bottom: 0px;}
.tab > div {float: left;width:100px;background:#666;color:#fff;text-align: center;padding:10px 0;cursor:pointer;}
.tab > div.select {background:#000;}
.tab_content {display:none;padding:20px 0;}
.tab_content.select {display:block;position: absolute;top: 50px;left:1300px;}
